<!DOCTYPE html>
<html lang="en">
<head>
    <!-- slideRight CSS -->
    <link rel="stylesheet" type="text/css" href="/css/slideRight.css"/>

    <!-- index CSS -->
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>

</head>
<body>

<!-- ****slideRight page**** -->
<div data-th-fragment="contactUs" id="resvScreen" class="container mx-0 f-screen bg-secondary">

    <!-- Close button -->
    <div id="closeBtn">
        <i class="fas fa-times"></i>
    </div>

    <!-- Wrapper of blue and white column -->
    <div class="row mx-0 w-100 h-100">

        <!-- White column -->
        <div class="col-12 col-md-6 d-md-flex align-items-md-center bg-light">
            <!-- Contact Us -->
            <div class="row p-2 pb-4">
                <div class="col-12 mb-3">
                    <h2>Contact Us</h2>
                    <p>info@FairPetsVet.com</p>
                    <p>514-514-514</p>
                </div>
                <div class="col-12">
                    <a href="./reservation.html" class="button d-inline-block mb-1 mb-md-2 px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Online Reservation</a>
                </div>
                <div class="col-12 mb-3">
                    <a href="./services.html" class="button d-inline-block px-2 py-1 border border-secondary rounded-lg text-center text-secondary text-decoration-none" >Our Services</a>
                </div>
                <!-- Map-->
                <div class="col-12">
                    <div class="map" id="map"> </div>
                </div>
            </div>
            <!-- End of Contact Us -->


        </div>
        <!-- End of white column -->

        <!-- Blue column -->
        <div class="col-12 col-md-6 p-3 d-md-flex align-items-md-center text-white bg-secondary">
            <!-- Opening hours -->
            <div class="row">
                <div class="col-12 col-xl-8 p-3">
                    <h3>Opening hours</h3>

                    <ul class="p-1 mb-0">
                        <li class="mb-2 d-flex justify-content-between border-bottom small">
                            <p>Monday to Thursday</p>
                            <p>from 6:00 a.m. to 6:00 p.m.</p>
                        </li>
                        <li class="mb-2 d-flex justify-content-between border-bottom small">
                            <p>Friday</p>
                            <p>from 6:00 a.m. to 4:00 p.m.</p>
                        </li>
                        <li class="d-flex justify-content-between border-bottom small">
                            <p>Saturday</p>
                            <p>from 9:00 a.m. to 12:00 p.m.</p>
                        </li>
                    </ul>
                </div>
                <!-- End of Opening hours -->

                <!-- Reservation info -->
                <div class="col-12 col-xl-8 p-3">
                    <h2>Reservation information</h2>
                    <p class="text-justify small"> If there is no availability on reservation for the date you have selected, do not hesitate to contact the office by phone. We may be able to add your name to the waiting list or have received a last minute cancellation.
                    </p>
                </div>
                <!-- End of Reservation info -->
            </div>
        </div>
        <!-- End of Blue column -->

    </div>
    <!-- End of Wrapper of blue and white column -->



    <!--****All For slideRight****-->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Map(needs jQuery) -->
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/build/ol.js"></script>

    <!-- slideRight -->
    <script type="text/javascript" src="/js/slideRight.js"></script>

    <!--*** End of slideRight ***-->

</div>
<!-- ****End of slideRight**** -->


</body>
</html>