<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css"/>

    <!-- Layout CSS -->
    <link rel="stylesheet" type="text/css" href="/css/layout.css"/>

</head>
<body>

<!-- Footer -->
<footer data-th-fragment="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="/images/layout/attempt2(greytext).png" alt="footerLogo" width="120" height="60">
                <hr class="light">
                <p>555-555-5555</p>
                <p>genericEmail@hotmail.com</p>
                <p>3818 BlackWell Street</p>
                <p>Fairbanks, Alaska, 99504 </p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Our Schedule</h5>
                <hr class="light">
                <p>Mon-Fri: 9am - 7pm</p>
                <p>Saturday: 10am - 3pm</p>
                <p>Sunday: 9am - 1pm</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <a class="changeColor" href="#"><h5>Products</h5></a>
                <hr class="light">
                <a class="changeColor" href="#"><p>Dogs</p></a>
                <a class="changeColor" href="#"><p>Cats</p></a>
                <a class="changeColor" href="#"><p>Birds</p></a>
                <a class="changeColor" href="#"><p>Other</p></a>
            </div>
        </div>

        <!-- Social Medias / Find better way maybe? -->
        <div class="row">
            <div class="col-12">
                <hr class="light-100">
            </div>


            <div class="col">
                <p class="footer-bottom m-0 text-right">&copy; Fair Pets Vet</p>
            </div>
            <div class="col d-flex align-items-center">
                <a href="#" class="ml-sm-4 ml-2"><i class="fab fa-facebook footer-bottom"></i></a>
                <a href="#" class="ml-sm-4 ml-2"><i class="fab fa-twitter footer-bottom"></i></a>
                <a href="#" class="ml-sm-4 ml-2"><i class="fab fa-instagram footer-bottom"></i></a>
                <a href="#" class="ml-sm-4 ml-2"><i class="fab fa-youtube footer-bottom"></i></a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>