<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css"/>

    <!-- Layout CSS -->
    <link rel="stylesheet" type="text/css" href="/css/layout.css"/>

    <!-- slideRight CSS -->
    <link rel="stylesheet" type="text/css" href="/css/slideRight.css"/>
</head>
<body>

<div data-th-replace="fragments/navigation::nav"></div>
<div data-layout-fragment="content"></div>
<div data-th-replace="fragments/footer::footer"></div>
<div data-th-replace="fragments/contactUs::contactUs"></div>


</body>
</html>