<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css"/>

</head>
<body>
<div data-th-fragment="nav">

    <!-- Navigation Bar -->
    <div id="navContainer" class="container-fluid">
        <nav id="nav" class="navbar navbar-expand-md navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/images/layout/attempt2.png" alt="Fair Pets Vet Logo" width="150" height="75">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <!-- fix margin -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ml-sm-1">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item ml-sm-1">
                            <a class="nav-link" href="/staff">Our Staff</a>
                        </li>
                        <li class="nav-item ml-sm-1">
                            <a class="nav-link" href="/services">Services</a>
                        </li>
                        <li class="nav-item ml-sm-1">
                            <a class="nav-link" href="/reservation">Reservation</a>
                        </li>
                        <li class="nav-item ml-sm-1">
                            <a class="nav-link" href="#" id="resvBtn">Contact Us</a>
                        </li>
                        <li class="nav-item ml-sm-1">
                            <a class="nav-link text-primary" href="/login"><small><ins>login</ins></small></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- End of Navigation Bar -->

</div>
</body>
</html>