<!DOCTYPE html>
<html data-layout-decorate="~{fragments/layout}">
<head>
    <!-- Required meta tags -->
    <meta name="description" content="Fair Pets Vet Hospital Homepage, ">
    <meta name="keywords"
          content="Vet, Veterinary, Pets, Fair Pets Vet, Products, Services, Reservations, Cats, Dogs, Birds, Staff, Doctor, Technician ">

    <title>Fair Pets Vet | Welcome!</title>

    <!-- index CSS -->
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
</head>

<body>
<div data-layout-fragment="content">
    <!-- Carousel Image Slider / Not Done CSS -->
    <div id="indexContainer" class="container-fluid">
        <div class="container">
            <div id="slides" class="carousel slide" data-ride="carousel">
                <!-- indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#slides" data-slide-to="0" class="active"></li>
                    <li data-target="#slides" data-slide-to="1"></li>
                    <li data-target="#slides" data-slide-to="2"></li>
                    <li data-target="#slides" data-slide-to="3"></li>
                    <li data-target="#slides" data-slide-to="4"></li>
                    <li data-target="#slides" data-slide-to="5"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/index/pugInBlanky.jpg" alt="First Image">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="display-2">Welcome!</h1>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="/images/index/staff.jpg" alt="Second Image">
                        <div class="carousel-caption d-none d-md-block">
                            <button type="button" class="btn btn-outline-light btn-lg"><a href="./staff.html"
                                                                                          class="text-decoration-none text-light">Meet
                                Our Staff</a></button>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="/images/index/toyDog.jpg" alt="Third Image">
                        <div class="carousel-caption d-none d-md-block">
                            <h2 id="product-carousel-pic" class="display-4">Products For All Your Needs</h2>
                            <button type="button" class="btn btn-primary btn-lg">Come Take A Look!</button>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="/images/index/kittens.jpg" alt="Forth Image">
                        <div class="carousel-caption"></div>
                    </div>

                    <div class="carousel-item">
                        <img src="/images/index/husky.jpg" alt="Fifth Image">
                        <div class="carousel-caption"></div>
                    </div>

                    <div class="carousel-item">
                        <img src="/images/index/catInChair.jpg" alt="Sixth Image">
                        <div class="carousel-caption"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jumbotron with about us info? -->
    <div id="aboutUs" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9 col-xl-10">
                    <h2>About Us</h2>
                    <p class="bigFont">We are a veterinary hospital that has
                        been in the business for the past 25 years.
                        Our love and care for animals has been growing
                        ever since we began. We offer a number of services
                        for your beloved companion. Our team consist of two
                        doctors, two technicians and two support staff who
                        have been in our family since forever, whose love
                        and passion for animals is as big as yours.</p>
                </div>

                <div class="col-12 col-md-3 col-xl-2 text-center">
                    <div class="card" style="-top:5px;">
                        <img class="card-img-top card-height" src="/images/shop/dogFood.png"
                             alt="Adult Dog Food Picture" width="125"
                             height="150">
                        <div class="card-body">
                            <h5 class="card-title">Adult Dog Food</h5>
                            <p class="price card-text">75.00$</p>
                            <a href="#" class="btn btn-outline-secondary">Go To Shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Our Staff -->
    <div class="container-fluid">
        <div class="container">
            <h1 class="text-center display-4">Our Staff</h1>
            <hr class="staff-hr">

            <!-- row 1 of staff -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="/images/staff/dr2.jpg" alt="Staff Member #1">
                        <div class="card-body">
                            <h4 class="card-title">Dr. Bill Hanson</h4>
                            <p class="card-text">Bill, our feline and canine specialist, has been working in the field
                                since the
                                mid 70's.</p>
                            <a href="./staff.html#Bill" class="btn btn-outline-secondary">Meet Bill</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="/images/staff/dr3.jpg" alt="Staff Member #2">
                        <div class="card-body">
                            <h4 class="card-title">Dr. Devon Keys</h4>
                            <p class="card-text">Dr. Keys is our Animal Chiropractor, from New Zealand, will help your
                                beloved
                                companions recover quickly.</p>
                            <a href="./staff.html#Deven" class="btn btn-outline-secondary">Meet Devon</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="/images/staff/dr5.jpg" alt="Staff Member #3">
                        <div class="card-body">
                            <h4 class="card-title">Chris</h4>
                            <p class="card-text">Chris is our medicine and anaesthesia expert, who has been working with
                                us
                                since her graduation.</p>
                            <a href="./staff.html#Chris" class="btn btn-outline-secondary">Meet Chris</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- row 2 of staff -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="/images/staff/abond1.jpg" alt="Staff Member #1">
                        <div class="card-body">
                            <h4 class="card-title">Jenn</h4>
                            <p class="card-text">Jenn, one of our beloved technicians, has as big a passion for animals,
                                than
                                all of us.</p>
                            <a href="./staff.html#Jenn" class="btn btn-outline-secondary">Meet Jenn</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="/images/staff/dr6.jpg" alt="Staff Member #2">
                        <div class="card-body">
                            <h4 class="card-title">Kenny</h4>
                            <p class="card-text">Kenny is our elder support staff member, and considers himself to be a
                                Trekkie</p>
                            <a href="./staff.html#Kenny" class="btn btn-outline-secondary">Meet Kenny</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="/images/staff/dr7.jpg" alt="Staff Member #3">
                        <div class="card-body">
                            <h4 class="card-title">Brooklyn</h4>
                            <p class="card-text">Brooklyn is a part of our support staff, and our expert in exotic
                                animals.</p>
                            <a href="./staff.html#Brooklyn" class="btn btn-outline-secondary">Meet Brooklyn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Services -->
    <div class="container-fluid">
        <div id="services" class="container">
            <div class="row ">
                <div class="col-md-9">
                    <div class="row">
                        <div class="text-center col-12 text-left">
                            <h1 class="display-4">Services</h1>
                            <hr class="services-hr">
                        </div>
                        <div class="text-center col-12 col-md-6">
                            <a href="./services.html#jumpHere">
                                <h3>Annual Check-Up</h3></a>
                            <a href="./services.html#jumpHere">
                                <h3>Osteopathy</h3></a>
                            <a href="./services.html#jumpHere">
                                <h3>Surgery + Anaesthesia</h3></a>
                        </div>
                        <div class="text-center col-12 col-md-6">
                            <a href="./services.html#jumpHere">
                                <h3>Dental Care</h3></a>
                            <a href="./services.html#jumpHere">
                                <h3>MicroChipping</h3></a>
                            <a href="./services.html#jumpHere">
                                <h3>Other</h3></a>
                        </div>
                    </div>
                </div>
                <div class=" col-12 col-md-3  text-center">
                    <div class="card" style="padding:5px 5px 0px 5px;background-color:#bdbdbd;">
                        <img class="card-img-top card-height" src="/images/shop/catFood.png"
                             alt="Adult Dog Food Picture" width="125"
                             height="150">
                        <div class="card-body">
                            <h5 class="card-title">Purina Cat Food</h5>
                            <p class="price card-text">45.00$</p>
                            <a href="#" style="color:white;border:2px solid black;" class="btn btn-outline-secondary">Go
                                To
                                Shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
