<!DOCTYPE html>
<html data-layout-decorate="~{fragments/layout}">
<head>
    <!-- Required meta tags -->
    <meta name="description" content="Fair Pets Vet Hospital Homepage, ">
    <meta name="keywords" content="Vet, Veterinary, Pets, Fair Pets Vet, Products, Services, Reservations, Cats, Dogs, Birds, Staff, Doctor, Technician ">

    <title>Fair Pets Vet | Welcome!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css"/>

    <!-- signup CSS -->
    <link rel="stylesheet" type="text/css" href="/css/signup.css"/>

</head>
<body>

<div data-layout-fragment="content" class="container-fluid" id="signUpContainer" >
    <div class="container">
        <form class="signUpForm" action="#" data-th-action="@{/user}" method="POST">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" data-th-classappend ="${errorEmail}?'is-invalid':''" name="email" id="inputEmail" placeholder="Email" required>
                <div class="invalid-feedback" data-th-text="${errorEmail}"></div>
            </div>

            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" data-th-classappend ="${errorPassword}?'is-invalid':''" name="password" id="inputPassword" placeholder="Password" required>
                <div class="invalid-feedback" data-th-text="${errorPassword}"></div>
            </div>

            <div class="form-group">
                <label for="inputConfirm">Confirm</label>
                <input type="password" class="form-control" data-th-classappend ="${errorConfirm}?'is-invalid':''" name="confirm" id="inputConfirm" placeholder="Password Confirm" required>
                <div class="invalid-feedback" data-th-text="${errorConfirm}"></div>
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>
            <a href="/">Cancel</a>
        </form>
    </div>
</div>

</body>
</html>