/** style for slideRight **/
.map {
	height: 400px;
	width: 100%;
}
#closeBtn {
	display:block;
	position: absolute;
	top: 10px;
	right: 25px;
	z-index: 2001;
}

.f-screen {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

#resvScreen{
	position: fixed;
	display: none;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	z-index: 2000;
}

#resvScreen p {
	margin-bottom: 0;
}

/** End of style for slideRight **/
